body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-weight: 400;
    font-size: 64px;
}

h2 {
    font-weight: 400;
    font-size: 44px;
    color: #45015d;
    margin: 10px 0px;
}

hr {
    width: 100%;
    border: 5px solid #45015d;
    border-radius: 4px;
    margin: 20px 0;
}

.menu {
    background-color: #45015d;
    width: 150px;
    height: 100%;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
}

.menu a {
    text-decoration: solid;
    color: inherit;
    width: 100%;
    display: block;
    padding: 8px 16px;
    box-sizing: border-box;
}

.menu a:hover {
    color: #000000;
    background-color: #fff;
    border-radius: 15px;
}

.main {
    margin-left: 360px;
    margin-top: 80px;
    margin-right: 40px;
}

.showcase_img img {
    width: 45%;
    border-radius: 10px;
    opacity: 0.7;
    margin: 5px;
}

.showcase_img img:hover {
    opacity: 1;
}

.designers img {
    width: 380px;
    height: 250px;
    border-radius: 9px;
}

.member {
    width: 30%;
    display: inline-block;
    padding: 8px 8px;
}

.description {
    background-color: rgb(233, 233, 233);
    border-radius: 9px;
    height: 40%;
    width: 10%;
    min-width: 340px;
    padding: 20px;
    text-align: left;
}

.description h3 {
    font-size: 25px;
    font-weight: 400px;
}

.position {
    opacity: 0.4;
}

.tariff {
    width: 49%;
    min-width: 150px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding: 0 8px;
    vertical-align: middle;
}

.tariff ul {
    background-color: #f1f1f1;
    border-radius: 10px;
    color: black;
    padding: 0;
    margin: 0;
}

.tariff li {
    list-style-type: none;
    border-bottom: 1px solid #dddddd;
    padding: 16px 0px;
    border-radius: 10px;
}

.tariff .tariff_name {
    background-color: #45015d;
    color: white;
    font-size: 24px;
    padding: 35px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tariff .money {
    font-size: 28px;
    font-weight: bold;
}

.tariff .day {
    opacity: 0.6;
}

.tariff .pay {
    color: #45015d;
    background-color: white;
    border-radius: 20px;
    padding: 15px 25px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
}

.tariff .pay:hover {
    background-color: #45015d;
    color: white;
}

.tariff_pro {
    width: 49%;
    min-width: 150px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding: 0 8px;
    vertical-align: middle;
}

.tariff_pro ul {
    background-color: #f1f1f1;
    border-radius: 10px;
    color: black;
    padding: 0;
    margin: 0;
}

.tariff_pro li {
    list-style-type: none;
    border-bottom: 1px solid #dddddd;
    padding: 16px 0px;
    border-radius: 10px;
}

.tariff_pro .tariff_name {
    background-color: rgb(255, 88, 88);
    color: white;
    font-size: 24px;
    padding: 35px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tariff_pro .money {
    font-size: 28px;
    font-weight: bold;
}

.tariff_pro .day {
    opacity: 0.6;
}

.tariff_pro .pay {
    color: #ffffff;
    background-color: rgb(255, 88, 88);
    border-radius: 20px;
    padding: 15px 25px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
}

.tariff_pro .pay:hover {
    background-color: #45015d;
    color: white;
}

.contact {
    padding: 40px 0;
}

.login {
    width: 100%;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

.login label {
    font-weight: bold;
    display: block;
    text-align: left;
    margin-top: 15px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

button[type=submit] {
    background-color: #45015d;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    width: 100%;
}

.license {
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    text-align: right;
    padding: 50px 0;
}

.license a {
    color: #000;
}